{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3" style="font-style:oblique">Pasal ghar!</h1>
      <p>Pasal ghar is a Nepali e-commerce website build by Santosh Luitel. It provides the cosmetic and fancy clothing items to the customer.
It is established in 2022 in Nepal inorder to provide the service to the Nepali customer. People can by an items according to their choice
as they have plenty of options here. Here the mainly branding and fashoinalbe items are recommended for all age- group people mainly focus
on young age group according to the designer. And also pasal ghar recommended the Nepali local products to the customer as they can take local
service and Product easily.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Founder</h2>
        <p> <img src="https://ctevtkarnali.org.np/uploads/team/faceFrame.jpg" alt="founder face"><br>
          NAME................
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>CEO</h2>
        <p><img src="https://ctevtkarnali.org.np/uploads/team/faceFrame.jpg" alt="ceo face"><br>
          NAME....................
        </p>

        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Marketing Head</h2>
        <p><img src="https://ctevtkarnali.org.np/uploads/team/faceFrame.jpg" alt="makerting head face"><br>
          Name...................
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}